
body {
  background-color: LightBlue;
  text-align: center;
}

#rpi {
  text-align: center;
  margin-bottom: 75px;
  font-size: 75px;
}



#mydata {
  background-color: MintCream;
  h2.font-family: serif, "Times New Roman";
  p.font-family: serif, "Times New Roman";
  text-align: left;
  width: 300px;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  padding: 1px;
  border: 10px solid SlateGray;
  border-radius: 8px;
}
